---
layout: splash
permalink: /
title: "数据科学咨询与培训公司"
excerpt: "以数据为眼，机器学习为大脑，为您的企业提供动力"
header:
  overlay_image: /assets/images/bg.jpg
  overlay_filter: rgba(139, 134, 163, 0.7)
  cta_label: "了解更多"
  cta_url: /consulting/

intro:
  - excerpt: '我们的咨询服务和解决方案'

feature_row:
  - image_path: /assets/images/shiny.jpg
    alt: "shiny"
    title: "Shiny 应用"
    excerpt: "我们可以用Shiny为您创造精准美观的分析应用(APP)和可视化仪表盘(Dashboard)."
    url: /shiny/
    btn_label: "样品展示"
  - image_path: /assets/images/prediction.jpg
    alt: "prediction"
    title: "预测模型"
    excerpt: "我们可以用机器学习将您的数据变成对未来的预测."
    url: /prediction/
    btn_label: "了解更多"
  - image_path: /assets/images/data-analysis.jpg
    alt: "data analysis"
    title: "数据分析"
    excerpt: "我们可以用统计方法将您的数据变成真知灼见."
    url: data-analysis
    btn_label: "了解更多"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
